<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.poc.mapper.TransactionMapper">

    <insert id="insert" parameterType="com.bank.poc.entity.TransactionEntity">
        INSERT INTO t_transaction (
        txn_id,
        request_id,
        debit_account_no,
        credit_account_no,
        txn_type,
        txn_status,
        amount,
        remark,
        txn_time,
        created_time
        ) VALUES (
        #{txnId},
        #{requestId},
        #{debitAccountNo},
        #{creditAccountNo},
        #{txnType},
        #{txnStatus},
        #{amount},
        #{remark},
        #{txnTime},
        #{createdTime}
        )
    </insert>

    <select id="selectByTxnId" resultType="com.bank.poc.entity.TransactionEntity">
        SELECT
        txn_id,
        request_id,
        debit_account_no,
        credit_account_no,
        txn_type,
        txn_status,
        amount,
        remark,
        txn_time,
        created_time
        FROM t_transaction
        WHERE txn_id = #{txnId}
    </select>

    <select id="selectByRequestId" resultType="com.bank.poc.entity.TransactionEntity">
        SELECT
        txn_id,
        request_id,
        debit_account_no,
        credit_account_no,
        txn_type,
        txn_status,
        amount,
        remark,
        txn_time,
        created_time
        FROM t_transaction
        WHERE request_id = #{requestId}
    </select>

    <select id="selectByAccountNo" resultType="com.bank.poc.entity.TransactionEntity">
        SELECT
        txn_id,
        request_id,
        debit_account_no,
        credit_account_no,
        txn_type,
        txn_status,
        amount,
        remark,
        txn_time,
        created_time
        FROM t_transaction
        WHERE debit_account_no = #{accountNo}
        OR credit_account_no = #{accountNo}
        ORDER BY txn_time DESC
    </select>

    <select id="selectByTxnTimeBetween" resultType="com.bank.poc.entity.TransactionEntity">
        SELECT
        txn_id,
        request_id,
        debit_account_no,
        credit_account_no,
        txn_type,
        txn_status,
        amount,
        remark,
        txn_time,
        created_time
        FROM t_transaction
        WHERE txn_time BETWEEN #{startTime} AND #{endTime}
        ORDER BY txn_time DESC
    </select>

</mapper>